input { 
    flex: 1;
    outline: none;
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    max-width: 500px;
}

button {
    border: none;
    background-color: #00337C;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

p {
    font-size: 14px;
}

form {
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}